# ===========================
# 开发环境
# ===========================
.idea
.vscode

# ===========================
# 图片/视频原始数据
# ===========================
*.jpg
*.jpeg
*.png
*.bmp
*.tiff
*.tif
*.webp
*.mp4
*.avi
*.mov
*.mkv

# ===========================
# 模型权重文件
# ===========================
*.pt
*.pth
*.onnx
*.pb
*.weights
*.csv
*.yaml

# ===========================
# 缓存文件
# ===========================
.cache/
*.cache
__pycache__/
.pytest_cache/

